[Unit]
Description=ZeroTier One
After=network-online.target network.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/zerotier-one -p{{ zerotier_root_localconfig['settings']['primaryPort'] }}
Restart=always
KillMode=process
{% if zerotier_root_planet != "" %}
ExecStartPre=/bin/sh -c '[ -f {{ zerotier_root_home }}/planet.custom ] && cp {{ zerotier_root_home }}/planet.custom {{ zerotier_root_home }}/planet || echo "No custom planet found"'
{% else %}
ExecStartPre=/usr/bin/env rm -f {{ zerotier_root_home }}/planet
{% endif %}
Environment="ZEROTIER_HOME={{ zerotier_root_home }}"
ExecStartPre=/usr/bin/env ss state time-wait sport = {% if 'setting' in zerotier_root_localconfig and 'primaryPort' in zerotier_root_localconfig['setting'] %}{{zerotier_root_localconfig['setting']['primaryPort']}}{% else %}9994{% endif %} -K


[Install]
WantedBy=multi-user.target